// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.jason-button{
  background-color: $jason-blue;
  border: 2px solid $jason-white;
  color: $jason-white;
  border-radius: 8px;
}