

.contact-form{
  border: 1px solid $jason-white;
  background-color: $jason-blue;
  color: $jason-white;
  align-content: center;


    input, textarea{

      align-content: center;
    }

    .contact-form-button{
      background-color: $jason-white;
      color: $jason-black;
      border: 1px solid $jason-black;

    }

}

.form-title{
  text-align: center;
}