
.sponsor {
  color: $jason-white;
  //border: 1px solid $jason-blue;
  text-align: center;
  width: 100%;

}
// as we do not have imges made for us its hard to make them all the resolution so i gave them a fox res
.owl-img{
  width: 300px;
  height:100px ;
  background-color: $jason-white;
  //border: 1px solid $jason-blue;

}