.navbar{

  .friday_Logo{
    height:80px;
    width: 100px;
  }
/// this is just the toggleswitch
  #flexSwitchCheckChecked{
    border: 1px solid $jason-white;
  }

}
.form-search-nav{
  border: 2px solid $jason-white;
  border-radius: 8px;
  background-color: $jason-blue;
  //color: $jason-black;
}


